.cards {
  @include flex(row, space-around, center);
  display: flex;

  &-wrapper {
    display: flex;
    justify-content: center;
  }
}
.card {
  @include card;

  &-img {
    background-position: center;
    width: 200px;
    height: 300px;
    margin: 50px;
    margin: 50px;
    background-size: cover;
  }
}
.carousel-control-prev,
.carousel-control-next {
  @include carousel;

  .carousel-item {
    @include carousel-item;
  }
}
