.categoria-mujer {
  @include responsive-tlf {
    &-img img {
      display: flex;
      width: 100%;
    }

    &-1 img {
      width: 100%;
    }
  }

  @include responsive-tablet {
    &-img img {
      display: flex;
      width: 100%;
    }

    &-1 img {
      width: 100%;
    }
  }

  @include responsive-desktop {
    &-img img {
      display: flex;
      width: 100%;
    }

    &-1 img {
      width: 100%;
    }
  }

  @extend%categoria;

  &-1 {
    @extend%diseno-card;
  }

  &-img {
    @extend%img-categoria;
  }
}

.categoria-hombre {
  @include responsive-tlf {
    &-img img {
      display: flex;
      width: 100%;
    }

    &-1 img {
      width: 100%;
    }
  }

  @include responsive-tablet {
    &-img img {
      display: flex;
      width: 100%;
    }

    &-1 img {
      width: 100%;
    }
  }

  @include responsive-desktop {
    &-img img {
      display: flex;
      width: 100%;
    }

    &-1 img {
      width: 100%;
    }
  }

  @extend%categoria;

  &-1 {
    @extend%diseno-card;
  }

  &-img {
    @extend%img-categoria;
  }
}

.categoria-ninos {
  @include responsive-tlf {
    &-img img {
      display: flex;
      width: 100%;
    }

    &-1 img {
      width: 100%;
    }
  }

  @include responsive-tablet {
    &-img img {
      display: flex;
      width: 100%;
    }

    &-1 img {
      width: 100%;
    }
  }

  @include responsive-desktop {
    &-img img {
      display: flex;
      width: 100%;
    }

    &-1 img {
      width: 100%;
    }
  }

  @extend%categoria;

  &-1 {
    @extend%diseno-card;
  }

  &-img {
    @extend%img-categoria;
  }
}
