.video-inicio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: #d3d3d3;
  place-items: center;

  @include responsive-tlf {
    div video {
      display: flex;
      width: 100%;
    }
  }

  @include responsive-tablet {
    div video {
      display: flex;
      width: 100%;
    }
  }

  @include responsive-desktop {
    div video {
      display: flex;
      width: 100%;
    }
  }
}

/*LO MAS VENDIDO*/

.lo-mas-vendido {
  @include responsive-tlf {
    img {
      width: 100%;
    }
  }

  @include responsive-tablet {
    img {
      width: 100%;
    }
  }

  @include responsive-desktop {
    img {
      width: 100%;
    }
  }

  @extend%categoria;

  &-1 {
    @extend%diseno-card;
  }
}

.img-promo {
  display: flex;
  position: relative;
  padding: $espacio-foto;

  & img {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: $border;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.513);
    padding: 5px;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    font-family: "Shadows Into Light", cursive;
  }

  @include responsive-tlf {
    p {
      font-size: 1rem;
    }
  }

  @include responsive-tablet {
    p {
      font-size: 2rem;
    }
  }
}

/*LO MAS RECOMENDADO PARA TI */

.lo-mas-recomendado {
  @include responsive-tlf {
    img {
      width: 100%;
    }
  }

  @include responsive-tablet {
    img {
      width: 100%;
    }
  }

  @include responsive-desktop {
    img {
      width: 100%;
    }
  }

  @extend%categoria;

  &-1 {
    @extend%diseno-card;
  }
}
