.mi-tienda {
  @include responsive-tlf {
    grid-template-columns: repeat(1, 1fr);
  }

  @include responsive-tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @extend %categoria;

  &-1 {
    @extend%diseno-card;
  }

  &-filtro {
    padding: $espacio-foto;
  }
}
