.mi-tienda {
  @include responsive-tlf {
    img {
      width: 100%;
    }
  }

  @include responsive-tablet {
    img {
      width: 100%;
    }
  }

  @include responsive-desktop {
    img {
      width: 100%;
    }
  }

  @extend %categoria;

  &-1 {
    @extend%diseno-card;
  }

  &-filtro {
    padding: $espacio-foto;
  }
}
