@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}
* a {
  text-decoration: none;
}
* ul,
* li {
  list-style: none;
}

.categoria-ninos, .categoria-hombre, .categoria-mujer, .mi-tienda, .lo-mas-recomendado, .lo-mas-vendido {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
  padding: 24px;
}

.categoria-ninos-1, .categoria-hombre-1, .categoria-mujer-1, .mi-tienda-1, .lo-mas-recomendado-1, .lo-mas-vendido-1 {
  border: 6px solid rgba(0, 0, 0, 0.175);
  background-color: rgba(192, 192, 192, 0.3137254902);
  background-position: center;
  background-size: cover;
  justify-content: space-evenly;
  border-radius: 10px;
}

.categoria-ninos-img, .categoria-hombre-img, .categoria-mujer-img {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  padding-bottom: 5px;
  object-fit: cover;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  padding: 1rem;
}
header ul {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
}
header ul li {
  padding: 0.2rem;
}
header ul li:hover {
  background-color: rgb(58, 130, 212);
}
header .navbar-brand img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
}
header .navbar-nav .nav-link.active {
  font-weight: bold;
}

footer {
  background-color: black;
  color: white;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 365px) and (max-width: 425px) {
  footer {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px 30px;
  }
}
footer img {
  height: 150px;
  width: 150px;
}
footer h4 {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
footer a {
  color: white;
  font-size: 1rem;
  padding: 0.2rem;
}
footer a:hover {
  background-color: rgb(58, 130, 212);
}

.obtener-descuento {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  place-items: center;
  padding: 30px;
  background-color: rgb(161, 194, 233);
}
@media (min-width: 365px) and (max-width: 425px) {
  .obtener-descuento {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.obtener-descuento h2 {
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.205);
}
.obtener-descuento input {
  width: 53%;
  padding: 5px;
  font-size: 1rem;
}
.obtener-descuento input[type=submit] {
  background-color: rgba(128, 128, 128, 0.979);
  color: black;
  cursor: pointer;
  width: 120px;
  place-items: center;
  color: white;
}
.obtener-descuento input[type=submit]:hover {
  background-color: #000000;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}

.card img {
  background-position: center;
  width: 200px;
  height: 300px;
  margin: 50px; /* Márgenes externos */
  background-size: cover;
}

.card {
  margin: 2rem;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .card {
    margin: 3rem;
  }
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgb(161, 194, 233);
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-item {
  width: auto;
  float: none;
  margin-right: auto;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .carousel-item {
    float: left;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .carousel-item {
    width: 100%;
  }
}

.video-inicio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: #d3d3d3;
  place-items: center;
}
@media (min-width: 365px) and (max-width: 425px) {
  .video-inicio div video {
    display: flex;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .video-inicio div video {
    display: flex;
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .video-inicio div video {
    display: flex;
    width: 100%;
  }
}

/*LO MAS VENDIDO*/
@media (min-width: 365px) and (max-width: 425px) {
  .lo-mas-vendido img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .lo-mas-vendido img {
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .lo-mas-vendido img {
    width: 100%;
  }
}
.img-promo {
  display: flex;
  position: relative;
}
.img-promo img {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.img-promo p {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.623);
  padding: 5px;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
}
@media (min-width: 365px) and (max-width: 425px) {
  .img-promo p {
    font-size: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .img-promo p {
    font-size: 2rem;
  }
}

/*LO MAS RECOMENDADO PARA TI */
@media (min-width: 365px) and (max-width: 425px) {
  .lo-mas-recomendado img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .lo-mas-recomendado img {
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .lo-mas-recomendado img {
    width: 100%;
  }
}
@media (min-width: 365px) and (max-width: 425px) {
  .mi-tienda img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .mi-tienda img {
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .mi-tienda img {
    width: 100%;
  }
}
.mi-tienda-filtro {
  display: flex;
  justify-content: flex-end;
  padding: 24px;
}

.registro-inicio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 30px;
  justify-content: center;
}
@media (min-width: 365px) and (max-width: 425px) {
  .registro-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .registro-inicio article form {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .registro-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.registro-inicio article {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;
}
.registro-inicio h2 {
  margin: 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.registro-inicio form {
  display: grid;
  gap: 10px;
  width: 500px;
}
.registro-inicio form input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 0.5px solid rgba(0, 0, 0, 0.2392156863);
  border-radius: 4px;
  font-size: 1rem;
  place-items: center;
}
.registro-inicio form input[type=submit] {
  background-color: rgba(128, 128, 128, 0.979);
  color: black;
  cursor: pointer;
  width: 120px;
  place-items: center;
}
.registro-inicio form input[type=submit]:hover {
  background-color: rgba(128, 128, 128, 0.212);
  cursor: pointer;
}

.contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 30px;
  justify-content: center;
}
@media (min-width: 365px) and (max-width: 425px) {
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contacto div iframe {
    width: 100%;
  }
  .contacto article form {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.contacto article {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;
}
.contacto h2 {
  margin: 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.contacto p {
  font-size: 1rem;
  color: #000000;
  text-align: center;
  font-weight: 500;
}
.contacto iframe {
  width: 500px;
  height: 400px;
}
.contacto form {
  display: grid;
  gap: 10px;
  width: 500px;
}
.contacto form input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 0.5px solid rgba(0, 0, 0, 0.2392156863);
  border-radius: 4px;
  font-size: 1rem;
  place-items: center;
}
.contacto form textarea {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 0.5px solid rgba(0, 0, 0, 0.2392156863);
  border-radius: 4px;
  font-size: 1rem;
  place-items: center;
}
.contacto form input[type=submit] {
  background-color: rgba(128, 128, 128, 0.979);
  color: black;
  cursor: pointer;
  width: 120px;
  place-items: center;
}
.contacto form input[type=submit]:hover {
  background-color: rgba(128, 128, 128, 0.212);
  cursor: pointer;
}

@media (min-width: 365px) and (max-width: 425px) {
  .categoria-mujer-img img {
    display: flex;
    width: 100%;
  }
  .categoria-mujer-1 img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .categoria-mujer-img img {
    display: flex;
    width: 100%;
  }
  .categoria-mujer-1 img {
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .categoria-mujer-img img {
    display: flex;
    width: 100%;
  }
  .categoria-mujer-1 img {
    width: 100%;
  }
}
@media (min-width: 365px) and (max-width: 425px) {
  .categoria-hombre-img img {
    display: flex;
    width: 100%;
  }
  .categoria-hombre-1 img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .categoria-hombre-img img {
    display: flex;
    width: 100%;
  }
  .categoria-hombre-1 img {
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .categoria-hombre-img img {
    display: flex;
    width: 100%;
  }
  .categoria-hombre-1 img {
    width: 100%;
  }
}
@media (min-width: 365px) and (max-width: 425px) {
  .categoria-ninos-img img {
    display: flex;
    width: 100%;
  }
  .categoria-ninos-1 img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .categoria-ninos-img img {
    display: flex;
    width: 100%;
  }
  .categoria-ninos-1 img {
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .categoria-ninos-img img {
    display: flex;
    width: 100%;
  }
  .categoria-ninos-1 img {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
