* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* estrutura de mi header */

header {
  background-color: #000000;
  color: #070000;
  padding: 50px;
  text-align: center; /*Alineación del texto  */
  width: 100%; /*Abarcar todo el ancho del contenedor/*
  /* display: inline-block; */
  /* display: flex; */
  box-sizing: border-box; /*incluye el padding en el ancho total*/
  overflow: hidden;
}
.img-logo {
  background-position: bottom left;
  border-radius: 20px;
  display: block; /* Hace que la imagen sea un bloque para ajustar el ancho */
  float: left; /* Alinear a la izquierda */
  margin-right: px; /* Agregar un margen a la derecha para separar del contenido cercano */
}
.listas li {
  display: inline-block;
  margin-right: 2px;
}

.listas a {
  text-decoration: none;
  color: #f1e9e9;
  /* font-weight: bold; */
  padding: 4px 10px;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.listas a:hover {
  background-color: rgb(58, 130, 212);
}

/* Estilos para el campo de búsqueda */

.buscador-input {
  width: 400px;
  padding: 3px;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-position: right;
  font-size: 2rem;
  border-radius: 10px;
  display: inline-block;
}

.buscador-input:hover {
  border-color: #555;
}

.buscador-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Estilos para los iconos */

.icono-img {
  height: 5px;
  filter: invert(100%);
  text-align: right;
  text-align: center;
  justify-content: flex-end; /* Alinea los elementos al final del contenedor */
  padding: 10px;
  display: flex;
  align-items: center;
}

/* Estilo de las imágenes dentro de icono-img */
.icono-img img {
  margin-left: 10px; /* Espacio entre las imágenes */
  width: 30px; /* Ajusta el ancho según tus necesidades */
}

.video-inicio {
  background-position: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video-inicio video {
  width: 100%;
  object-fit: cover;
}

.lo-mas-vendido h2 {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: left;
}

.lo-mas-vendido img {
  background-position: center;
  width: 20%;
  border-radius: 40px;
  margin-right: 10%;
  margin-bottom: 10px;
}

.img-promo {
  position: relative;
}

.img-promo img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-promo p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  text-align: center;
  font-size: 4rem;
  margin: 0;
}

.lo-mas-recomendado img {
  background-position: center;
  width: 20%;
  border-radius: 40px;
  margin-right: 10%;
  margin-bottom: 10px;
}

.lo-mas-recomendado h2 {
  font-size: 100px;
  margin-bottom: 20px;
  text-align: left;
}

.obtener-descuento {
  background-color: #8766ff;
  padding: 100px;
  border-radius: 8px;
  font-size: 2rem;
}

.obtener-descuento input {
  width: 10%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-position: right;
  font-size: 1rem;
  border-radius: 10px;
}

.obtener-descuento p {
  font-size: 2rem;
  color: #000305;
}

footer {
  background-color: #000000;
  color: #fff;
  padding: 50px;
  display: flex;
  justify-content: space-around;
}

.footer-logo {
  height: 200px;
  left: 200px;
  background-position: bottom left;
  border-radius: 20px;
}

ul {
  list-style: none;
}
