* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none; /* quito la decoración de texto de mi etiqueta a*/
}
ul,
ol {
  list-style: none; /* quito la decoración de los vinetes en mis listas */
}
img {
  max-width: 100%; /* ancho maximo para que no se escape del limite de su contenedor, se ajusta al elemento padre, en este caso es el body   */
}

/* ESTRUCTURA DE MI HEADER (CON FLEX)*/

header {
  background-color: black;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header a {
  color: white;
  border-radius: 30px;
  padding: 4px 10px;
}
header a:hover {
  background-color: rgb(58, 130, 212);
}
header nav ul {
  display: flex;
  gap: 3rem;
  font-size: 1rem;
}
header img {
  height: 180px;
  width: 200px;
  border-radius: 10px;
}
header input {
  width: 300px;
  padding: 3px;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 10px;
}
header .icono-img {
  gap: 20rem;
  font-size: 2em;
}
/*--> ESTRUCTURA DE MI FOOTER (CON FLEX)<-- */

footer {
  background-color: black;
  color: white;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer img {
  height: 180px;
  width: 200px;
  border-radius: 10px;
}
footer a {
  color: white;
  border-radius: 30px;
  padding: 4px 10px;
}

.obtener-descuento {
  background-color: rgba(186, 85, 211, 0.37);
  padding: 50px;
  font-size: 2rem;
}

.obtener-descuento input {
  width: 30%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-position: right;
  font-size: 1rem;
  border-radius: 10px;
}

.obtener-descuento p {
  font-size: 2rem;
  color: #000305;
}

/*--> ESTRUCTURA DEL INDEX (INICIO)<-- */

/* VIDEO DEL INCIO */

.video-inicio {
  display: flex;
  justify-content: center;
}

/*LO MAS VENDIDO (CON GRIDS)*/

.lo-mas-vendido {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.lo-mas-vendido-1 {
  border: 1px solid black;
}

/*LO MAS RECOMENDADO PARA TI (CON GRIDS)*/

.lo-mas-recomendado {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.lo-mas-recomendado-1 {
  border: 1px solid black;
}

.img-promo {
  display: flex;
  position: relative;
}

.img-promo img {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-promo p {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.623);
  padding: 5px;
  text-align: center;
  font-size: 4rem;
  margin: 0;
}
/*--> ESTRUCTURA DE TIENDA HTLML (CON GRIDS)<-- */

.mi-tienda {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.mi-tienda-1 {
  border: 1px solid black;
}

/*--> ESTRUCTURA DE CATEGORIA HTML (CON GRIDS)<-- */

/* MUJER */
.categoria-mujer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.categoria-mujer-1 {
  border: 1px solid black;
}
/* HOMBRE */
.categoria-hombre {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.categoria-hombre-1 {
  border: 1px solid black;
}
/* NINOS */
.categoria-ninos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.categoria-ninos-1 {
  border: 1px solid black;
}
